body {background-color:darkolivegreen
}
h1 {text-align: center;
    color:chartreuse;
    font-size:300%;
}
h2 {text-align:center;
    color: chartreuse;
    font-size: 300%;
}
#ima1 {width: 65%;
    margin-left: 20%
}
h3 {text-align: center;
    font-size: 300%;
    color: chartreuse;
}
